*{


}
 body{
    display: flex;
    background-color: blueviolet;
     justify-content: center;
     row-gap: 100px;
 }
#menu{
    background-color: rgb(106, 11, 221);
    align-items: center;
    justify-content: center;
    display:flex ;
    flex-direction: column;
    border-width:  5px;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    gap:50px;
    border-style: outset;
    border-color: rgb(12, 230, 12);
}
#logotipomenu{
    width: 100px;
    height: 50px;
    
}
#button_start{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border-color: rgb(12, 230, 12);
    border-width: 5px;
    background-color: rgb(74, 11, 146);
    width: 100px;
    height: 50px;
}
#image{
    width: 50px;
    height: 25px;
    position: absolute;

}
#logotipo{
    width: 400px;
    height: 200px;
}